:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-darkgrey: #32425C;
  --basic-darksea: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --white-base-active: rgba(255, 255, 255, 0.5);
  --features-background: rgba(255, 255, 255, 0.3);
  --features-hover: rgba(197, 197, 197, 0.3);
  --features-active: rgba(169, 169, 169, 0.3);

  --special-darkblue: #161D29;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFC047;
  --special-error: #BA2732;
  --special-lightgrey: #EAEAEA;
  --special-superlightgrey: #F3F7F9;
  --special-extralightgrey: #F2F6F8;
  --special-filter: #F7F3EC;
  --special-oldprice: #A9A9A9;
  --special-green: #367315;
  --special-darkgreen: #518534;
  --special-grey: #e5e5e5;
  --special-lightgreen: #8ED78F;
  --special-popular: #F9F5F0;
  --special-red: #FF5357;
  --special-popup: #F4F4F4;
  --special-font: #A9A9A9;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button:active {
  background-color: var(--special-error);
}

/*header*/

.header {
  background-color: var(--basic-background);
  font-size: 18px;
}

.header-order {
  background-color: var(--basic-darksea);
}

/*logo*/

.main-header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

/*search*/

.search-field input {
  font: inherit;
  background-color: transparent;
  border: none;
}

.search-field input::placeholder {
  color: var(--basic-white);
  font-size: 18px;
}

/*.search-field input[placeholder]:active {
  opacity: 0.5;
}*/

.search-field input:focus {
  outline: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*order*/

.order-menu a {
  color: var(--basic-white);
}

.order-menu a:active {
  color: var(--white-base-active);
  background-color: var(--special-darkblue);
}

.order-button {
  background-color: var(--basic-green);
}

.order-button:hover {
  background-color: var(--special-success);
}

.order-button:active {
  background-color: var(--basic-green);
}

/*header-content*/

.caption {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  color: var(--basic-red);
}

.phone-number {
  border: 3px solid var(--basic-white);
}

.phone-number a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.address {
  color: var(--basic-darkgrey);
  font-size: 14px;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.user-wrap a {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.profile a:active {
  color: var(--basic-greylight);
}

.user-menu {
  list-style: none;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-darkgrey);
}

.user-menu a:hover {
  color: var(--basic-red);
}

.user-menu a:active {
  color: var(--basic-greylight);
}

/*navigation*/

.main-navigation {
  background-color: var(--basic-darkgrey);
  box-shadow: inset 0px -5px 0px var(--basic-darksea);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--basic-darksea);
}

.site-navigation a:active {
  color: var(--white-base-active);
}

/*features*/

.features-list {
  list-style: none;
}

.materials {
  background-color: var(--special-yellow);
}

.tools {
  background-color: var(--special-blue);
}

.technics {
  background-color: var(--special-lilac);
}

.sale {
  background-color: var(--special-lightgreen);
}

.features-delivery {
  background-color: var(--special-warning);
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.features-item a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--features-background);
}

.features-item a:hover {
  background-color: var(--features-hover);
}

.features-item a:active {
  background-color: var(--features-active);
}

/*slider*/

.slider figcaption {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/*popular blocks*/

.popular-nav {
  background-color: var(--special-popular);
}

.brand-item:active {
  opacity: 0.5;
}

/*services*/

.services {
  background-color: var(--basic-background);
}

.services p {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-menu {
  list-style: none;
}

.services-slide-caption {
  color: var(--basic-darkgrey);
}

.services-btn {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-darkgrey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  border: none;
}

.services-btn:hover {
  background-color: var(--basic-darksea);
}

.services-btn:focus {
  color: var(--basic-darkgrey);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  outline: none;
}

.services-slide-caption {
  color: var(--basic-darkgrey);
}

.credit a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-red);
}

/*info*/

.info ul {
  list-style: none;
  font-size: 18px;
}

.info p {
  width: 478px;
  height: 147px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
}

.info .info-map {
  width: 181px;
  height: 49px;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*footer*/

.footer-nav {
  background-color: var(--basic-darkgrey);
}

.footer-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo:active {
  background-color: var(--special-error);
}

.footer-contacts {
  font-size: 18px;
  color: var(--special-superlightgrey);
}

.footer-contacts a {
  color: var(--special-superlightgrey);
}

.footer-nav ul {
  list-style: none;
  font-size: 18px;
}

.footer-site-nav a {
  color: var(--basic-background);
}

.footer-catalog-nav a {
  color: var(--special-yellowlight);
}

.footer-site-nav a:hover,
.footer-catalog-nav a:hover {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-catalog-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-info {
  font-size: 16px;
  color: var(--basic-white);
  background-color: var(--basic-darksea);
}

.social-list {
  list-style: none;
  text-align: center;
}

.social-btn {
  color: inherit;
}

.social-btn:hover,
.social-btn:active {
  background-color: var(--basic-red);
}

.copy-right a {
  color: var(--special-yellowlight);
}

.copy-right a:hover {
  text-decoration: underline;
}

.copy-right a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/*catalog*/

/*breadcrumbs*/

.bread-crumbs {
  list-style: none;
}

.bread-crumbs a {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkgrey);
  background-color: var(--special-extralightgrey);
}

/*filter*/

.catalog-filter,
.catalog-sort {
  font-family: "PT Sans", Arial;
}

.filter-caption {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.background {
  background-color: var(--special-filter);
}

.catalog-filter ul {
  list-style: none;
  line-height: 19px;
}

.catalog-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-option label {
  font-size: 15px;
  text-transform: uppercase;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-btn {
  background: none;
  border: 1px solid var(--special-grey);
}

.catalog-sort ul {
  list-style: none;
}

.catalog-sort a {
  color: rgba(0,0,0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.catalog-sort a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.catalog-sort a:active {
  color: var(--basic-red);
  border-bottom: none;
}

/*catalog-list*/

.catalog-list,
.brand-list {
  list-style: none;
}

.catalog-item,
.brand-item {
  border: 1px solid var(--special-lightgrey);
  font-family: "PT Sans", Arial;
  text-align: center;
}

.catalog-item:hover,
.brand-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item a {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.old-price {
  color: var(--special-oldprice);
  text-decoration-line: line-through;
}

.current-price {
  color: var(--basic-white);
}

.hover {
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum, Arial;
  text-transform: uppercase;
  text-align: center;
}

.hover a {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-green);
  border-radius: 2px;
}

.hover a:hover {
  background-color: var(--special-success);
}

.hover a:active {
  background-color: var(--special-darkgreen);
}

.btn-in-bookmarks {
  color: var(--basic-darkgrey);
  background: none;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.btn-in-bookmarks:hover {
  border-color: var(--basic-darkgrey);
}

.btn-in-bookmarks:active {
  opacity: 0.5;
}

/*pagination*/

.pagination {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  border: 1px solid var(--special-grey);
  border-radius: 2px;
}

.pagination-item a:hover {
  border-color: var(--basic-greylight);
}

.pagination-item a:active {
  border-color: var(--basic-red);
}

.current-page a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

/*about-products*/

.about-products {
  background-color: var(--basic-background);
}

.about-products h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-products p {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
}

/*popup*/

.pop-up {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pop-up-write label {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.write-us-field input[type="text"],
.write-us-field input[type="email"],
.write-us-field textarea {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
}

.write-us-field input::placeholder,
.write-us-field textarea::placeholder {
  color: var(--special-font);
}

.btn-wrap {
  background-color: var(--special-popup);
}

.btn-wrap .buttons {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.btn-wrap .btn-order-placement:active {
  background-color: var(--special-error);
}

.pop-up-cart p {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.btn-wrap .btn-continue-shopping {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.pop-up {
  display: none;
}

.visually-hidden {
  display: none;
}

.profile {
  display: none;
}
