:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-darkgrey: #32425C;
  --basic-darksea: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --white-base-active: rgba(255, 255, 255, 0.5);
  --features-background: rgba(255, 255, 255, 0.3);
  --features-hover: rgba(197, 197, 197, 0.3);
  --features-active: rgba(169, 169, 169, 0.3);

  --special-darkblue: #161D29;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFC047;
  --special-error: #BA2732;
  --special-darkred: #CA2C37;
  --special-lightgrey: #EAEAEA;
  --special-superlightgrey: #F3F7F9;
  --special-extralightgrey: #F2F6F8;
  --special-filter: #F7F3EC;
  --special-oldprice: #A9A9A9;
  --special-green: #367315;
  --special-darkgreen: #518534;
  --special-grey: #e5e5e5;
  --special-lightgreen: #8ED78F;
  --special-popular: #F9F5F0;
  --special-red: #FF5357;
  --special-popup: #F4F4F4;
  --special-font: #A9A9A9;
  --special-socials: #212A3A;

  --filter-scale: #D7DCDE;
  --filter-bar: #00CA74;
  --filter-toggle: #ABABAB;
  --filter-toggle-shadow: #E0DDD9;

  --filter-box: #B5B5B5;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.btn-hover:hover {
  background-color: var(--special-darkred);
}

.button:active {
  background-color: var(--special-error);
}

/*header*/

.header {
  background-color: var(--basic-background);
}

.header-order {
  width: 100%;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-darksea);
  margin-bottom: 46px;
}

.header-order .container {
  display: grid;
  grid-template-columns: 220px 270px 1fr;
}

/*logo*/

.main-header-logo {
  height: 18px;
  padding: 12px 57px 17px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

/*search*/

.search-form {
  width: 270px;
  height: 42px;
}

.search-field {
  padding: 0;
  margin: 0;
  position: relative;
}

.search-field input {
  padding: 9px 0 9px 42px;
  font: inherit;
  background-color: transparent;
  border: none;

}

.search-field input::placeholder {
  color: var(--basic-white);
}

.search-field input:focus,
.search-form:focus {
  outline: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-field::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-field:hover::before,
.order-bookmarks:hover::before,
.order-cart:hover::before {
  opacity: 1;
}

.search-field:active::before,
.order-bookmarks:active::before,
.order-cart:active::before {
  opacity: 0.3;
}

/*order*/

.order-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 42px;
}

.order-menu a {
  height: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--basic-white);
}

.order-menu a:active {
  color: var(--white-base-active);
  background-color: var(--special-darkblue);
}

.order-bookmarks {
  padding-left: 43px;
  position: relative;
}

.order-bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 20px;
  opacity: 0.3;
}

.order-cart {
  padding-right: 26px;
  padding-left: 49px;
  position: relative;
}

.order-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 26px;
  opacity: 0.3;
}

.order-button {
  padding-right: 16px;
  padding-left: 19px;
  background-color: var(--basic-green);
}

.order-button:hover {
  background-color: var(--special-success);
}

.order-button:active {
  background-color: var(--basic-green);
}

/*header-content*/

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caption {
  width: 197px;
  height: 71px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  margin-bottom: 40.5px;
  margin-left: 30px;
  padding: 0;
}

.contacts {
  margin: 0;
  margin-left: 24px;
  padding: 0;
}

.phone-number {
  width: 270px;
  height: 45px;
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.phone-number a {
  display: block;
  width: 151px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  margin: 0;
  padding: 4px 42px 5px 71px;
  position: relative;
}

.phone-number a::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 36px;
}

.address {
  color: var(--basic-darkgrey);
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 45px;
}

.log-in {
  width: 121px;
  margin-right: 10px;
}

.sign-up {
  width: 150px;
}

.log-in a {
  padding: 12px 27px 12px 45px;
  position: relative;
}

.log-in a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 14px;
  left: 19px;
}

.sign-up a {
  padding: 12px 24px;
}


.user-navigation a {
    display: block;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    background-color: var(--basic-white);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 900px;
  height: 70px;
}

.user-wrap {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.user-wrap a {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-right: 20px;
  padding-left: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}

.user-pic {
  position: relative;
}

.user-pic::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.log-out-pic {
  position: relative;
}

.log-out-pic::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 1px;
}

.profile a:active {
  color: var(--basic-greylight);
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-darkgrey);
}

.user-menu a:hover {
  color: var(--basic-red);
}

.user-menu a:active {
  color: var(--basic-greylight);
}

/*navigation*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  width: 940px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  min-height: 60px;
  list-style: none;
  background-color: var(--basic-darkgrey);
  box-shadow: inset 0px -5px 0px var(--basic-darksea);
}

.site-navigation a {
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 20px;
  padding-right: 29px;
  padding-left: 29px;
  text-align: 24px;
  font-size: 18px;
  display: block;
  align-items: center;
}

.site-navigation li:first-of-type a {
  padding-left: 52px;
}

.site-navigation li:last-of-type a {
  padding-right: 45px;
}

.site-navigation a:hover {
  background-color: var(--basic-darksea);
}

.site-navigation a:active {
  color: var(--white-base-active);
}

/*features*/

.features {
  height: 409px;
  margin-top: 59px;
  margin-bottom: 59px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 22px;
  padding-bottom: 22px;
  padding-top: 20px;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.features-item a {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--features-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-item a:hover {
  background-color: var(--features-hover);
}

.features-item a:active {
  background-color: var(--features-active);
}

.materials {
  background-color: var(--special-yellow);
  position: relative;
}

.materials::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-can.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 31px;
  left: 213px;
}

.tools {
  background-color: var(--special-blue);
  position: relative;
}

.tools::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 34px;
  left: 194px;
}

.technics {
  background-color: var(--special-lilac);
  position: relative;
}

.technics::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-agrimotor.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 31px;
  left: 191px;
}

.sale {
  background-color: var(--special-lightgreen);
  position: relative;
}

.sale::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-cart2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 26px;
  left: 196px;
}

.features-delivery {
  background-color: var(--special-warning);
  position: relative;
}

.features-delivery::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-truck.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 32px;
  left: 191px;
}

/*slider*/

.slider {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  padding: 0;
  margin: 0;
}

.gallery-button {
  position: absolute;
  top: 122px;
  width: 22px;
  height: 40px;
  background: transparent;
  border: none;
}

.gallery-button-back {
  left: 24px;
  background-image: url(../img/icon-left.svg);
}

.gallery-button-next {
  left: 578px;
  background-image: url(../img/icon-left.svg);
  transform: rotate(180deg);
}

.slider figcaption {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 23px;
  padding-left: 24px;
  background-color: rgba(0, 0, 0, 0.25);
  height: 81px;
  width: 596px;
}

.slider p {
  position: absolute;
  top: 47px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider .button {
  position: absolute;
  left: 24px;
  top: 201px;
  padding-top: 11px;
  padding-right: 46px;
  padding-bottom: 9px;
  padding-left: 46px;
}

/*popular blocks*/

.catalog-image {
  width: 185px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.popular {
  margin-bottom: 70px;
}

.popular-products .catalog-list,
.brand-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-nav {
  position: relative;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--special-popular);
}

.popular-nav h2 {
  margin: 0;
  padding: 0;
  color: var(--basic-darkgrey);
  font-weight: normal;
  margin-left: 28px;
}

.popular-nav a {
  position: absolute;
  width: 144px;
  padding-top: 11px;
  padding-left: 24px;
  padding-bottom: 9px;
  padding-right: 24px;
  left: 734px;
}

.brand-item {
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.brand-item:active {
  opacity: 0.5;
}

/*services*/

.services {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 522px;
  background-color: var(--basic-background);
}

.services .container {
  position: relative;
  padding-top: 64px;
}

.services p {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 70px;
  padding: 0;
  width: 240px;
}

.services-slide-caption {
  color: var(--basic-darkgrey);
}

.services-menu li {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 240px;
}

.services-btn {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-darkgrey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  border: none;
  text-align: left;
  padding-left: 22px;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  width: 240px;
}

.services-btn:hover {
  background-color: var(--basic-darksea);
}

.services-btn:focus {
  color: var(--basic-darkgrey);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  outline: none;
}

.services-slide {
  position: absolute;
  left: 330px;
  top: 233px;
}

.services-slide .services-slide-caption {
  color: var(--basic-darkgrey);
}

.credit a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-red);
  padding: 12px 45px;
  border-radius: 3px;
}

.delivery {
  position: relative;
}

.delivery::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 24px;
  left: 150px;
}

.guarantee {
  position: relative;
}

.guarantee::after {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: 240px;
}

.credit {
  position: relative;
}

.credit::after {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: 165px;
}

/*info*/

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 70px;
}

.info ul {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.info li {
  margin-bottom: 12px;
  padding-left: 37px;
  position: relative;
}

.info li::before {
  content: "";
  position: absolute;
  width: 25px;
  border-bottom: 2px solid var(--basic-red);
  left: 0px;
  top: 10px;
}

.info p {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
}

.info .info-map {
  width: 181px;
  height: 49px;
}

.title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-company {
  width: 478px;
}

.paragraph-1 {
  margin: 0;
  margin-bottom: 26px;
}

.paragraph-2 {
  margin: 0;
}

.about-company a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  margin-top: 20px;
}

.map {
  width: 300px;
}

.info-map {
  margin: 0l
  padding: 0;
  margin-bottom: 31px;
}

.image-map {
  display: block;
  height: 158px;
  margin-bottom: 25px;
}

.map .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

/*footer*/

.footer {
  background-color: var(--basic-darkgrey);
}

.footer-nav {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 95px 98px;
  margin: 0;
}

.footer-nav ul {
  list-style: none;
  font-size: 18px;
}

.footer-logo {
  height: 23px;
  width: 138px;
  padding: 20px 41px 25px 41px;
  margin: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo:active {
  background-color: var(--special-error);
}

.footer-contacts {
  width: 325px;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-superlightgrey);
  vertical-align: middle;
  margin: 0;
  padding: 0;
  /*margin-bottom: 54px;*/
}

.footer-contacts a {
  color: var(--special-superlightgrey);
  margin: 0;
  padding: 0;
}

.footer-site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin: 0;
  padding-left: 70px;
}

.footer-site-nav a {
  color: var(--basic-background);
}

.footer-catalog-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  padding-left: 92px;
}

.footer-catalog-nav a {
  color: var(--special-yellowlight);
}

.footer-site-nav a:hover,
.footer-catalog-nav a:hover {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-catalog-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-wrapper {
  width: 100%;
 /*height: 107px;*/
  background-color: var(--basic-darksea);
}

.footer-info {
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-info > p {
  margin: 0;
}

.social-list {
  width: 134px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.social-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  color: inherit;
  background-color: var(--special-socials);
  border-radius: 50%;
}

.vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn:hover,
.social-btn:active {
  background-color: var(--basic-red);
}

.copy-right {
  width: 286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 14px;
  margin: 0;
  padding-right: 14px;
}

.copy-right a {
  color: var(--special-yellowlight);
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.copy-right a:hover {
  text-decoration: underline;
}

.copy-right a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/*catalog*/

.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  align-content: start;
  margin-top: 21px;
  margin-bottom: 59px;
}

/*breadcrumbs*/

.bread-crumbs {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.bread-crumbs li {
  position: relative;
  margin-right: 40px;
}

.bread-crumbs li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  left: -15px;
  top: 2px;
}

.to-home::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 0px;
}

.to-home a {
  background-image: url(../img/icon-home.svg);
}

.bread-crumbs a {
  font-family: "PT Sans", Arial;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog h2 {
  grid-column: 1 / -1;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkgrey);
  background-color: var(--special-extralightgrey);
}

/*filter*/

.catalog-filter,
.catalog-sort {
  font-family: "PT Sans", Arial;
}

.catalog-filter {
  width: 220px;
}

.catalog-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-caption {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-background {
  background-color: var(--special-filter);
  border-radius: 3px;
}

.catalog-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

.catalog-filter li {
  height: 19px;
}

.filter-option label {
  font-size: 15px;
  text-transform: uppercase;
}

/*filter-price*/

.catalog-filter .filter-price {
  position: relative;
  margin-top: 14px;
  margin-bottom: 42px;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--special-filter);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--filter-scale);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--filter-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  background: var(--special-filter);
}

.price-controls .dash {
  width: 30px;
  font-size: 16px;
  text-align: center;
}

.catalog-filter .filter-price::after {
  content: "";
  position: absolute;
  top: 192px;
  width: 220px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  background-position: 0 0;
}

/*filter-brand*/

.brand legend {
  margin-bottom: 17.5px;
}

.filter-option {
  margin-bottom: 20px;
  margin-left: 35px;
}

.filter-option:first-of-type {
  margin-bottom: 20.5px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  /*user-select: none;*/
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -31px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*filter-supply*/

.supply legend {
  margin-bottom: 23.35px;
}

.supply .filter-option:first-of-type {
  margin-bottom: 22px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-checkbox:hover + label::before,
.filter-input-radio:hover + label::before {
  border-color: var(--filter-box);
}

.filter-input-radio:hover + label::after {
  background-color: var(--filter-box);
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-btn {
  width: 220px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background: none;
  border: 1px solid var(--special-grey);
}

.filter-btn:hover {
  border-color: var(--basic-red);
}

/*catalog sort*/

.catalog-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  margin-left: 1px;
}

.catalog-sort ul {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 445px;
  padding-left: 90px;
}

.btn-triangle {
  width: 10px;
  height: 11px;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.btn-triangle-up {
  background-image: url(../img/icon-triangle-up.svg);
}

.btn-triangle-down {
  background-image: url(../img/icon-triangle-down.svg);
}

.catalog-sort a {
  color: rgba(0,0,0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.catalog-sort a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.catalog-sort a:active {
  color: var(--basic-red);
  border-bottom: none;
}

/*catalog-list*/

.catalog-list,
.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  margin-bottom: 48px;
}

.catalog-item,
.brand-item {
  border: 1px solid var(--special-lightgrey);
  font-family: "PT Sans", Arial;
  text-align: center;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 318px;
  position: relative;
}

.catalog-item h3 {
  padding: 0;
  margin: 0;
}

.catalog-item:hover,
.brand-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item:hover img {
  display: none;
}

.catalog-item:hover .hover {
  display: block;
}

.catalog-item a {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.old-price {
  color: var(--special-oldprice);
  text-decoration-line: line-through;
}

.current-price {
  color: var(--basic-white);
}

.hover {
  display: none;
  font-family: Cuprum, Arial;
  position: absolute;
  top: 38px;
  left: 41px;
}

.hover a {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-green);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.hover a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 18px;
  opacity: 0.3;
}

.hover a:hover {
  background-color: var(--special-success);
}

.hover a:active {
  background-color: var(--special-darkgreen);
}

.btn-in-bookmarks {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-darkgrey);
  background: none;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-in-bookmarks:hover {
  border-color: var(--basic-darkgrey);
}

.btn-in-bookmarks:active {
  opacity: 0.5;
}

/*pagination*/

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.pagination-item a {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--special-grey);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.pagination-item:last-of-type a {
  width: 140px;
}

.pagination-item a:hover {
  border-color: var(--basic-greylight);
}

.pagination-item a:active {
  border-color: var(--basic-red);
}

.current-page a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

outline

/*about-products*/

.about-products {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-background);
}

.about-products h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-products p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
}

/*popup*/

.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pop-up-write {
  width: 620px;
  top: 120px;
  bottom: auto;
}

.pop-up-write label {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-form input[type="email"],
.write-us-form input[type="password"] {
  box-sizing: border-box;
  width: 220px;
}

.write-us-field input[type="text"],
.write-us-field input[type="email"],
.write-us-field textarea {
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
}

.write-us-field input::placeholder,
.write-us-field textarea::placeholder {
  color: var(--special-font);
}

.btn-wrap {
 width: 100%;
  background-color: var(--special-popup);
}

.buttons {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.btn-order-placement:active {
  background-color: var(--special-error);
}

.pop-up-cart p {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.btn-continue-shopping {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.pop-up {
  display: ;
}

.pop-up-map {
  display: none;
}

.pop-up-cart {
  display: none;
}

.visually-hidden {
  display: none;
}

.profile {
  display: none;
}

